
/* 样式公用部分 
input[type=text],input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
    border: 1px solid #ddd;
}
input[type=text]:focus,input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
    border: 1px solid rgba(81, 203, 238, 1);
} */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.layout{width: 100%; min-width: 1200px; height: auto; margin: 0 auto; position: relative;}
.wrapper{width: 1200px; height: auto; margin: 0 auto;  }
.fl{float: left;}
.fr{float: right;} 
.ico{font-family: "\5b8b\4f53";}/*这个可以让“>”这种符号不变形*/
.radius{
-ms-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;  
}
.rotate{
transform:rotate(180deg);
-ms-transform:rotate(180deg); 	/* IE 9 */
-moz-transform:rotate(180deg); 	/* Firefox */
-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
-o-transform:rotate(180deg); 
}