



/*头部*/

#header_layout{
	width:100%;
	height:116px; background:url(../images/logo_bg.jpg) no-repeat center top;
	clear:both;}
.header{
	width:1200px;
	height:116px;
	margin:0px auto; clear:both;}
.logo{ width:390px; display:block; height:116px;}
.header_right{ width:790px; height:116px;}
.english_chinese{ width:100%; height:30px; text-align:right; padding-top:20px;}	
.english_chinese a{ display:inline-block; padding:0px 5px; height:30px; line-height:30px; font-size:14px; color:#fff;}
.english_chinese a:hover{ text-decoration:underline;}
.navigator{ width:100%; height:50px; clear:both; text-align:right; padding-top:16px;}
.navigator ul{ clear:both;}
.navigator ul li{ display:inline-block; width:auto; height:50px; margin-left:50px; position:relative;}
.nav_one{ display:block; height:50px; line-height:50px; font-size:16px; color:#fff;}
.navigator ul li:hover .nav_one{ color:#ed5400;}
.navigator ul li.hover .nav_one{ color:#ed5400;}
.nav_two{ width:200px; display:table; position:absolute; top:50px; left:50%; margin-left:-100px; background:url(../images/jiantou.png) no-repeat center top; padding-top:14px; text-align:left; z-index:9999;}
.nav_down{ width:200px; display:table;  border-radius:10px;  padding:10px;}
.nav_two a{ display:block; width:200px; display:table;  clear:both; margin-bottom:5px;}
.nav_two a i{ display:block; width:6px; height:6px; float:left; background:#fff; margin-top:10px;}
.nav_two a span{ display:block; width:185px; display:table; float:right;line-height:25px; font-size:14px; color:#fff;}
.nav_two a:hover span{text-decoration:underline;}

/*头部end*/




/*广告条*/

/*#banner_layout{
	width:100%;
	height:477px; overflow:hidden; background:url(../images/banner_bg.jpg) no-repeat center top;
	clear:both;}
*/
/*焦点图*/
/*
.banner{ width:100%; height:477px; position: relative; margin:0 auto;}
.banner_big_pic{height:477px; position: relative;} 
.banner_big_pic li{width: 100%; height:477px; position: absolute; left: 0; top: 0; display: none;}
.banner_big_pic li.show{display: block;} 
.banner_big_pic li a{ display:block; width:100%; height:477px; background-position:center top; background-repeat:no-repeat;}
.banner_small_pic{ width:100%; height: 20px;   position: absolute; bottom:40px; right:0;  z-index: 20; text-align:center; }
.banner_small_pic li{width:19px; height:19px; display:inline-block; background: url(../images/banner_dot_on.png); margin-left:5px; margin-right:5px;}
.banner_small_pic li.chose{background: url(../images/banner_dot.png)}
.banner_small_pic li img{display: block; width: 100%; height: 100%;}
.banner_left_btn ,.banner_right_btn{position: absolute;  top: 42%; width:21px; height:40px;display: none; cursor:pointer;}
.banner_left_btn{left: 20px; background:url(../images/pre.png); display:none;}
.banner_right_btn{ right: 20px; background:url(../images/next.png); display:none;}
*/
/*广告条end*/
/*中间样式*/
#controlArea{
	overflow: hidden;
}
#cmdArea{
	margin:50px 0 50px 110px;
}
#cmdArea p{
	margin: 15px 0 0 0;
}
#inputTime{
	margin:50px 0 0 50px;
}
#inputArea{
	margin:50px 0 0 50px;
	width:300px;
}
span{
	display: inline-block;
	height:23px;
}
#change{
	margin:15px 0 0 140px;
	width:100px;
}
#changeTime {
	margin: 15px 0 0 112px;
	width: 100px;
}



/*底部*/

#bottom_layout{
	width:100%; height:236px; background:url(../images/bg2.jpg) no-repeat center top; overflow:hidden;
	clear:both;}
.bottom{
	width:1200px; height:236px; overflow:hidden; clear:both;
	margin:0 auto;}
.bottom_left{ width:400px;  height:auto; padding-top:20px;}	
.bottom_left p{ display:block; padding:0px; margin:0px; width:100%; height:auto; line-height:30px; font-size:14px; color:#fff;}
.bottom_right{ width:600px; height:236px; overflow:hidden;}
.bottom_right ul{ float:left; width:auto; height:216px; padding-top:20px; margin-left:20px; margin-right:10px;}
.bottom_right ul li{ width:auto; height:30px; line-height:30px;}
.bottom_right ul li a{ font-size:14px; color:#fff;}
.bottom_right ul li a font{ font-size:16px;}
.bottom_right ul li a:hover{ text-decoration:underline;}
/*底部end*/






