/* 样式重定义 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff;  font-family: Microsoft Yahei, Verdana, Arial, Helvetica, sans-serif; font-family: "微软雅黑", "\5b8b\4f53", "新宋体", "宋体", "黑体";}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
em,i{ font-style:normal;}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Microsoft Yahei,Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
a:focus, input, select, textarea {outline: 0px;}
a {text-decoration: none;outline:none;}
textarea {resize: none;overflow: auto;}